/* title: Windows 95 */
/* author: [gh.plr](https://github.com/ghplr) */
/* icon: https://ghplr.github.io/gh-groove-themes/95.svg */
/* description: Windows 95 Theme */

@font-face {
  font-family: W95;
  src: url(https://ghplr.github.io/gh-groove-themes/w95fa.woff);
}

#app {
  background: #008080;
}

#app div.groove-app-tile-icon {
  background: #C0C0C0;
 border-width: 4px;
  border-style: solid;
  border-image: url(https://raw.githubusercontent.com/ghplr/gh-groove-themes/refs/heads/main/border.png) 1 stretch;
  background: #C0C0C0 !important;
  box-shadow: 2px 2px black;
}

#app div.groove-home-inner-tile {
  border-width: 4px;
  border-style: solid;
  border-image: url(https://raw.githubusercontent.com/ghplr/gh-groove-themes/refs/heads/main/border.png) 1 stretch;
  background: #C0C0C0 !important;
  box-shadow: 4px 4px black;
}

#app div.tile-list-page {
    max-width: none;
    mix-blend-mode: normal !important;
    box-shadow: none !important;
    background: transparent !important;
}
#app div.slide-page-home.wallpaper-behind {
    background-size: cover !important;
}
#app div.slide-page-home.wallpaper-behind div.groove-home-tile {
    background: transparent !important;
    --metro-transparent-2: var(--accent-color);
}
#app #main-home-slider div.slide-page-home.wallpaper-behind {
    background-size: cover !important;
}

#app p.groove-home-tile-title {
  color: black !important;
  font-family: W95;
  font-weight: normal;
}

#app #app-page-icon:after { 	 
    content: "All Apps";  
}

#app #app-page-icon {
    font-family: W95;
    box-shadow: 4px 4px black;
    font-size: 25px; 
    color: black;
    padding: 8px 10px;
    border-radius: 0px;
    border-width: 4px; 
    border-style: solid;
    border-image: url(https://raw.githubusercontent.com/ghplr/gh-groove-themes/refs/heads/main/border.png) 1 stretch;
    background: #C0C0C0 !important;
    position: absolute;
    width: max-content;
}

#app #app-page-icon p { 	 
  display: none;
}

#app .groove-element.groove-letter-tile {
  display: none;
}

#app .inner-page .app-list {
  border-width: 4px;
  border-style: solid;
  border-image: url(https://raw.githubusercontent.com/ghplr/gh-groove-themes/refs/heads/main/border.png) 1 stretch;
  background: #C0C0C0 !important;
  box-shadow: 4px 4px black;
}

/* #app .inner-page > .app-list.app-list-container {
  border-width: 4px;
  border-style: solid;
  border-image: url(https://raw.githubusercontent.com/ghplr/gh-groove-themes/refs/heads/main/border.png) 1 stretch;
  background: #C0C0C0 !important;
  margin: 8px; 
} */

#app .groove-element.groove-app-tile {
  color: black;
}

#app .groove-element.groove-app-tile > p {
  color: black !important;
  font-family: W95 !important;
  font-weight: normal !important;
}

#app #search-icon:after { 	 
    content: "Search";  
}

#app #search-icon {
    font-family: W95;
    box-shadow: 4px 4px black;
    font-size: 25px; 
    color: black;
    padding: 8px 10px;
    border-radius: 0px;
    border-width: 4px; 
    border-style: solid;
    border-image: url(https://raw.githubusercontent.com/ghplr/gh-groove-themes/refs/heads/main/border.png) 1 stretch;
    background: #C0C0C0 !important;
    position: absolute;
    width: max-content;
    bottom: calc(30px + var(--window-inset-bottom));
}

#app #search-icon p { 	 
  display: none;
}
